<h2 style="padding-top:20px">Corona Heroes</h2>
<hr/>
<div  style="padding-bottom:30px">If you know of one or more groups of people, one or more organization or one or more individuals who are helping the needy, <a href="mailto:ajitesh@gmail.com">drop an email</a> and we will list their details on this page for everyone's benefit.</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
        <h5 class="card-header"><a href="https://www.narendramodi.in/appeal-to-generously-donate-to-prime-ministers-citizen-assistance-and-relief-in-emergency-situations-fund-pm-cares-fund-549013" target="_blank">PM CARES Relief Fund</a></h5>
        <div class="card-body">
          <p class="card-text">Contribute to Delhi CM Relief Fund for helping those needing financial help in fighting corona. Here are the bank details:<br/>
            <strong>Account No: 2121PM20202</strong><br/>
            <strong>Bank: State Bank of India</strong><br/>
            <strong>New Delhi Main Branch</strong><br/>
            <strong>IFSC Code: SBIN0000691</strong><br/>
            <strong>SWIFT Code: SBININBB104</strong><br/>
            <strong>UPI: pmcares@sbi</strong><br/>
          </p>
        </div>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">Delhi CM Relief Fund</h5>
        <div class="card-body">
          <p class="card-text">Contribute to Delhi CM Relief Fund for helping those needing financial help in fighting corona. Here are the bank details:<br/>
            <strong>Account No: 91042150000237</strong><br/>
            <strong>Bank: Syndicate Bank, Delhi</strong><br/>
            <strong>Secretariat Branch</strong><br/>
            <strong>IFSC Code: SYNB0009104</strong><br/>
          </p>
        </div>
      </div>
  </div>
</div>
<div class="row" style="padding-top:20px">
  <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header"><a href="https://economictimes.indiatimes.com/news/company/corporate-trends/tata-trusts-commits-rs-500-crore-to-fight-coronavirus/articleshow/74862061.cms" target="_blank">Tata Trusts (1500 Crore)</a></h5>
      <div class="card-body">
        <p class="card-text">Tata Trusts pledges 1500 crore to help India fight Corona Virus</p>
      </div>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header"><a href="https://www.entrepreneur.com/article/348435" target="_blank">Ambani (500 Crore)</a></h5>
        <div class="card-body">
          <p class="card-text">Ambanis Commit INR 500 Cr to PM-CARES Fund, will Provide 50 Lakh Free Meals</p>
        </div>
      </div>
  </div>
</div>
<div class="row" style="padding-top:20px">
  <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">Bollywood Stars Pledge Funds</h5>
        <div class="card-body">
         <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Akshay Kumar</td>
              <td>25 Crore</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Hritik Roshan</td>
              <td>20 Lakh</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Kapil Mishra</td>
              <td>50 Lakh</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">Tollywood Stars Pledge Funds</h5>
        <div class="card-body">
         <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Pawan Kalyan</td>
              <td>2 Crore</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mahesh Babu</td>
              <td>1 Crore</td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>
<div class="row" style="padding-top:20px">
  <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">Sports Rockstars Pledge Funds</h5>
        <div class="card-body">
         <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Sachin Tendulkar</td>
              <td>1 Crore</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Suresh Raina</td>
              <td>52 Lakh</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
  </div>
  <div class="col-sm-6">
     <div class="card">
      <h5 class="card-header"><a href="https://projectmumbai.org/" target="_blank">Project Mumbai</a></h5>
      <div class="card-body">
        <p class="card-text">This organization is for those living in Mumbai. If you want to become a volunteer and extend your help, drop an email to <a href="mailto:volunteer@projectmumbai.org">Volunteer@ProjectMumbai.org</a></p>
        <p class="card-text">If you are a senior citizen in Mumbai and looking for help, call this number: <a href="tel:9653330712">9653330712</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="padding-top:20px">
  <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header"><a href="https://www.thehindu.com/sport/cricket/bcci-donates-51-crore-for-pm-cares/article31194848.ece" target="_blank">BCCI (51 Crore)</a></h5>
        <div class="card-body">
          <p class="card-text">BCCI donates ₹51 crore for PM-CARES</p>
        </div>
      </div>
  </div>
</div>