<h2 style="padding-top:20px">Corona Information</h2>
<hr/>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="https://www.narendramodi.in/appeal-to-generously-donate-to-prime-ministers-citizen-assistance-and-relief-in-emergency-situations-fund-pm-cares-fund-549013" target="_blank">PM CARES Relief Fund</a></li>
  <li class="list-group-item"><a href="https://www.mohfw.gov.in/"  target="_blank">Corona Information Website by Govt. of India</a></li>
  <li class="list-group-item"><a href="https://www.mohfw.gov.in/pdf/FAQ.pdf" target="_blank">Frequently Asked Questions (FAQs) by Govt. Of India</a></li>
  <li class="list-group-item"><a href="https://www.indiatoday.in/india/story/aiims-director-dr-randeep-guleria-answers-all-questions-on-novel-coronavirus-covid-19-1656697-2020-03-18"  target="_blank">Coronavirus FAQs: All your questions about Covid-19 outbreak answered</a></li>
</ul>
