<h2 style="padding-top:20px">Corona Videos</h2>
<hr/>
<div  style="padding-bottom:30px">Library of interesting videos to help us get educated to keep ourselves away from Corona and, also, smile in these difficult times. Thanks to the creators!</div>
<h2 style="padding-top:10px">Corona Fun - Stay Smiling</h2>
<div class="row">
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/wh-sRmTWGTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
   <iframe width="400" height="215" src="https://www.youtube.com/embed/SoAp7sX65TQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/kDUqOcvUVIQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row" style="padding-top:20px">
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/nmUXntGlqFI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/vTSZwlkx8_w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="216" src="https://www.youtube.com/embed/ouSoXHc1XOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row" style="padding-top:20px">
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/mfg-ggscXrg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/UE7rD93Qr78" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
   <iframe width="400" height="215" src="https://www.youtube.com/embed/lHX0Hj5PbUQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<h2 style="padding-top:40px">Corona Education</h2>
<div class="row">
  <div class="card col-md-4">
    <div class="card-body">
      <iframe width="400" height="215" src="https://www.youtube.com/embed/1APwq1df6Mw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/mOV1aBVYKGA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/8c_UJwLq8PI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row" style="padding-top:20px">
  <div class="card col-md-4">
    <div class="card-body">
     <iframe width="400" height="215" src="https://www.youtube.com/embed/UIQlZBO2ilA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/mXEAqRaqafY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card col-md-4">
    <div class="card-body">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/uHB3WJsLJ8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  
</div>

